﻿@model AlquilerBusetas.UI.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link href="~/css/style.css" rel="stylesheet" />
    <script src="http://cdn.ckeditor.com/4.6.1/standard/ckeditor.js"></script>
    <script src="~/js/site.js"></script>

</head>
<body>
    <section id="main">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-4 col-md-offset-4" style="margin-top:10%;">
                    <form asp-action="Onlogin" id="login" class="well">
                        <div class="form-group">
                            <label asp-for="UserId"></label>
                            <input asp-for="UserId" class="form-control" autocomplete="off" id="txtUserId" autofocus required placeholder="Enter Username">
                        </div>
                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" class="form-control" autocomplete="off" required placeholder="Password">
                        </div>
                        <input type="submit" class="btn btn-default btn-block btn-login" id="btnLogin" value="SECURE LOGIN" />
                        <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="SingUp">Sing Up</a>
                        <h4 style="color: red;text-align: center">@ViewData["ErrorMessage"]</h4>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>
